* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box !important;
    transition: all .15s;
}
.text-justify{
    text-align: justify;
}
.object-fit-contain {
    object-fit: contain;
}
.slick-prev:before {
    color: #212529;
}

.slick-next:before {
    color: #212529;
}
.zoom:hover {
    transform: scale(1.25);
}
.cursor-pointer {
    cursor: pointer;
}
.project-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.project-text {
    opacity: 0;
    user-select: none;
    z-index: 10;
}
.project-card:hover .project-text {
    opacity: 100%;
    user-select: auto;
}
.project-card:hover .project-image {
    filter: brightness(10%);
}
.btn-link {
    text-decoration: none;
}
.btn:focus, .btn:active {
    box-shadow: none;
}
.btn-reverse-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}
.btn-reverse-danger:hover {
    color: #dc3545;
    background: rgba(220, 53, 70, 0.1);
}